@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi Ink', sans-serif;
    scroll-behavior: smooth;
}


.imgtest{
    width: 350px;
}
header
{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px 91px 0px 44px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-image: linear-gradient(356deg, #53508600 0%, #838389 35%, #0e1ac803 100%);
}
header.sticky{
   background: #fff;
   padding: 1px 91px 0px 44px;
   box-shadow: 0 5px 20px rgba(0,0,0,0.1);

}
header .logo
{
    color: #fff;
    /* font-size: 24px; */
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 12px;
}
header.sticky .logo{
    color: #111;
}
header.sticky .logo:hover{
    color: #2196f3;
}
header .logo:hover{
    color: #2196f3;
}
header{
    z-index: 9999;
    position: relative;
}
header #logo{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    width: 80px;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    transform: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;

}
header nav{
    height: 70px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    width: 500px;
    z-index: 100;
    top: 130px;
    margin: 0 auto;
    background: linear-gradient(356deg, rgb(59 91 251 / 31%) 0%, rgba(36, 112, 241, 0.918732458803834) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 1s all cubic-bezier(0.080, 0.82, 0.18, 1) 0.2s;

}

header nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 1000;
    padding: 10px 16px;
    letter-spacing: 1.8px;
    scroll-behavior: smooth;
    transform:  0.3s all cubic-bezier(0.080, 0.9, 0.18, 1)0.6s , 0.2s color ease;
}

header nav a:hover{
    color: #111;
}
header nav button{
    background: url(./logo1234.jpg) no-repeat center center/cover;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 60px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0);
    margin: auto;
    border-radius: 100%;
    cursor: pointer;

    transition: 0.3s all cubic-bezier(0.080, 0.9, 0.18, 1) 0.2s;
}
header nav button span{
    width: 50%;
    background-color: wheat;
    height: 3px;
    display: block;
    margin: 4px auto;
    transform: scale(0);
    transition: 0.6s transform cubic-bezier(0.080, 0.9, 0.18 ,2) 0s ,0.3s margin ease-in 0s;

}
header nav button:hover span{
    margin: 9px auto;
}
header.sticky #logo{
    opacity: 0;
}
header.sticky nav{
    top: 20px;
    padding: 0;
    width: 80px;
    height: 80px;
}

header.sticky nav button{
    transform: scale(1);
    transition-delay: 0.3s;
}
header.sticky nav button span{
    transform: scaleX(1);
    transition:  0.6s transform cubic-bezier(0.080, 0.9, 0.18 ,1) 0.8s ,0.3s margin ease-in 0s;
}
header.sticky nav a{
    opacity: 0;
    transform: scale(0.3);
    transition-delay: 0.1s;
}

header .back{
    position: relative;
    display: inline-block;
    font-size: 22px;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    
}
header .back1{
    position: relative;
    display: inline-block;
    font-size: 22px;
    margin: 0 5px -5px;
    color: #fff;
    text-decoration: none;
    
    
}
.menubar a {
    display: inline-block;
    vertical-align: middle;
}
header .back:hover{
    color: #2196f3;
}
header.sticky .back:hover{
    color: #2196f3;
}
header.sticky a{
    color: #111;
}
/* code sua content */
.content5
{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}
.title{
    font-size: 22px;
    margin-bottom:10px;
}
.contentBx{
    text-align: justify;
    margin: 0 20px;
    width: 20%;
}

.w50{
    min-width: 50%;
    width: 80%;
}
.w50 img{
    max-width: 100%;
    border-radius:  8px ;
   
    
}
.content{
   margin-top: 40px
}
section
{
    padding: 100px;
    margin-top: 0px;
}
.content1 h1{
    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 15px;
}
.content1 p{  
   
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    color: #494949;
}
.content5{
    margin-top: 40px;
}

p{
    margin-top: 20px;
  }
.gallery{
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
    
.photo1 img{
    margin: 5px;
    width: 85.5%;
    max-width: 100%;
    align-items: center;
    margin-left: 8.1%;  
   border-radius: 8px;
}
.table_on_top{
    position: fixed;
    z-index: 999;
    right: 40px;
    bottom: 40px;
}
.table_on_top ul{
    list-style: none;
}
.table_on_top ul .tooltip{
    margin:0 0 10px 0 ;
    position: relative;
}
.table_on_top ul .tooltip a{
    width: 50px;
    height: 50px;
    display: table;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    border-radius: 50%;
}
.table_on_top ul .tooltip a img{
    vertical-align: middle;
    border-radius: 60px;

}
.tooltip .tooltiptext {
   
    visibility: hidden;
    width: 140px;
    background-color: #716e6e;
    color: #fff;
    border-radius: 6px;
    padding: 1px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 115%;
  }
.table_on_top ul .tooltip a img:hover{
    background-color: rgb(203, 211, 211);
    border-radius: 30px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
/* .share-social{
    position: relative;
    width: 100%;
    display: block;
    float: none;
    margin: 0;
    text-align: center;
    font-size: 15px;
    line-height: 1.33333;
    margin-bottom: 15px;
}
.share-social h3{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: inherit;
    line-height: 1.0;
    color: inherit;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
.social-link a{
    margin: 0 7px;
    text-decoration: none;
    color: #111;
    background-color: transparent; 
}
.social-link a:hover{
        background: #b8b3b3;
        border-radius: 3px;

}
.social-link .social_icon{
    width: 30px;
}
.bot{
    width: 100%;
    height: auto;
    background-color:#111;
    border-radius: 10px;
   margin-bottom: 0px;
   color: white;
}
.quote::before {
    content: "“";
  }
  
  .quote::after {
    content: "”";
  }
  
  .quote {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .quote::before,
  .quote::after {
    color: #222222;
    font-size: xx-large;
  } */
/*Responsive*/
@media(min-width:777px ) and (max-width: 1024px)
{
    header {
        background-image: linear-gradient(150deg, #332bae3b 0%, #838389 35%, #0f135457 100%);
    }
    .imgtest{
        width: 250px;
    }
    header, 
    header.sticky{
        padding: 4px 2px;
        z-index: 1000;
        border-radius: 0px 0px 20px 20px;        }
    header .logo
    {
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 2px;
    }
    header.sticky .logo{
        color: #111;
    }
    header.sticky .logo:hover{
        color: #2196f3;
    }
    header .logo:hover{
        color: #2196f3;
    }
    
    
    header .back{
        position: relative;
        display: inline-block;
        font-size: 18px;
        margin: 0 15px;
        color: #fff;
        text-decoration: none;
        
    }
    .content5
    {
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
    }
    .title
    {
        font-size: 23px;
        margin-bottom:10px;
    }
    .contentBx{
        text-align: justify;
        margin: 0 20px;
        /* min-width: 40%; */
        font-size: 13px;
    }
    
    .w50{
        min-width: 50%;
    }
    .w50 img{
        max-width: 98%;
        border-radius:  8px ;
       
        
    }
    .content{
       margin-top: 90px
    }
    section
    {
        padding:30px 50px;
        margin-top: 0px;
    }
    .content1 h1{
        text-align: center;
        position: relative;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 15px;
    }
    .content1 p{  
       
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        position: relative;
        color: #494949;
    }
    .content5{
        margin-top: 40px;
        font-size: 9.03px;
    }
    
    .gallery{
        display: inline-block;
        justify-content: space-between;
        flex-wrap: wrap;
       
    }
         
    
}
@media(width:820px )
{
  
    header {
        background-image: linear-gradient(143deg, #332bae3b 0%, #838389 35%, #0f135457 100%);    
    }
    .imgtest{
        width: 270px;
    }
    header, 
    header.sticky{
        padding: 4px 2px;
        z-index: 1000;
        border-radius: 0px 0px 20px 20px;    }
    .title
    {
        font-size: 17px;
        margin-bottom:10px;
    }
    .contentBx{
        text-align: justify;
        margin: 0 20px;
        /* min-width: 40%; */
        font-size: 13px;
    }
    
    .w50{
        min-width: 50%;
    }
    .w50 img{
        max-width: 100%;
        border-radius:  8px ;
       
        
    }
    p {
        margin-top: 9px;
    }
    .content{
       margin-top: 90px
    }
    section
    {
        padding:30px 50px;
        margin-top: 0px;
    }
    .content1 h1{
        text-align: center;
        position: relative;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 15px;
    }
    .content1 p{  
       
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        position: relative;
        color: #494949;
    }
    .content5{
        margin-top: 40px;
        font-size: 9.03px;
    }

 
         
    
}
@media(width:768px )
{
  
    header {
        background-image: linear-gradient(150deg, #332bae3b 0%, #838389 35%, #0f135457 100%);
    }
    .imgtest{
        width: 270px;
    }
    header, 
    header.sticky{
        padding: 4px 2px;
        z-index: 1000;
        border-radius: 0px 0px 20px 20px;    }
    .title
    {
        font-size: 17px;
        margin-bottom:10px;
    }
    .contentBx{
        text-align: justify;
        margin: 0 20px;
        /* min-width: 40%; */
        font-size: 13px;
    }
    
    .w50{
        min-width: 50%;
    }
    .w50 img{
        max-width: 100%;
        border-radius:  8px ;
       
        
    }
    p {
        margin-top: 2px;
    }
    .content{
       margin-top: 90px
    }
    section
    {
        padding:30px 50px;
        margin-top: 0px;
    }
    .content1 h1{
        text-align: center;
        position: relative;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 15px;
    }
    .content1 p{  
       
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        position: relative;
        color: #494949;
    }
    .content5{
        margin-top: 40px;
        font-size: 9.03px;
    }

 
         
    
}
@media(max-width:600px )
{
    .w50 img {
        max-width: 94%;
    }
    header, 
    header.sticky{
        padding: 3px 2px;
        z-index: 1000;
        border-radius: 0px 0px 20px 20px;    }
    header {
        background-image: linear-gradient(150deg, #332bae3b 0%, #838389 35%, #0f135457 100%);
    }
    header .logo
    {
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 2px;
    }
    header.sticky .logo{
        color: #111;
    }
    header.sticky .logo:hover{
        color: #2196f3;
    }
    header .logo:hover{
        color: #2196f3;
    }
    
    header .back1{
        position: relative;
        display: inline-block;
        font-size: 22px;
        margin: 0 0px -5px;
        color: #fff;
        text-decoration: none;
        
        
    } 
    p{
        margin-top: 4px;
      }
    header .back{
        position: relative;
        display: inline-block;
        font-size: 18px;
        margin: 0 15px;
        color: #fff;
        text-decoration: none;
        
    }
    .content5
{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column;
    flex-wrap: wrap; */
}
.title
{
    font-size: 8px;
    margin-bottom:7px;
}
.contentBx{
    text-align: justify;
    margin: 0 20px;
    font-size: 6px;
}

.w50{
    min-width: 50%;
}
.w50 img{
    /* margin-top:10px; */
    border-radius:  8px ;

    
}
.content{
   margin-top: 40px
}
section
{
    padding: 20px 10px;
    margin-top: 40px;
}
.content1 h1{
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 12px;
}
.content1 p{  
   
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    position: relative;
    color: #494949;
}
.content5{
    margin-top: 5px;
    font-size: 10px;
}

.gallery{
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
footer{
    font-size: 10px;
}
.table_on_top{
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: 20px;
}
.table_on_top ul{
    list-style: none;
}
.table_on_top ul .tooltip{
    margin:0px 0 10px 0 ;
    position: relative;
}
.table_on_top ul .tooltip a{
    width: 40px;
    height: 40px;
    display: table;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    border-radius: 50%;
}
.table_on_top ul .tooltip a img{
    vertical-align: middle;
    border-radius: 60px;

}
.imgtest{
    width: 250px;
}
.menubar {
    display: flex;
}
}


